Repository rsuite/rsuite, pull requests merged in 2020-03, with the labels that each got.

#821 Add arabic translation locale
  src/IntlProvider/locales/ar_EG.ts
Labels: PR:feature

#840 Fix mark cannot be customized rendering in `Slider` correctly
  src/Slider/Graduated.tsx
  src/Slider/test/SliderSpec.js
Labels: PR:bugfix

#816 Form data check when submitting the form
  src/Form/Form.d.ts
  src/Form/Form.tsx
Labels: PR:improve

#833 When the Pagination component renders a custom element, the custom element can get whether the current element is a active state property
  .gitignore
  src/Pagination/PaginationButton.tsx
  src/Pagination/test/PaginationButtonSpec.js
Labels: PR:improve

#885 Remove the environment variable LOCALE_ENV
  docs/Dockerfile
  docs/next.config.js
  docs/package.json
  docs/pages/index.tsx
Labels: PR:chore

#883 [docs] Update link for example
  docs/pages/guide/themes/en/index.md
  docs/pages/guide/themes/index.md
  docs/pages/guide/use-next-app/en/index.md
  docs/pages/guide/use-next-app/index.md
  docs/pages/guide/use-with-create-react-app/en/index.md
  docs/pages/guide/use-with-create-react-app/index.md
Labels: PR:docs

#882 Auto change theme and resolve theme load issue.
  docs/components/TopLevelNav/TopLevelNav.tsx
  docs/pages/_app.tsx
  docs/utils/themeHelpers.ts
Labels: PR:docs

#873 Fixed radio-group inline item styles.
  docs/pages/components/radio/en/radio-group-inline-picker.md
  docs/pages/components/radio/radio-group-inline-picker.md
  src/Radio/styles/common.less
  src/styles/variables.less
Labels: PR:bugfix

#874 To improve the build performance in develop mode.
  docs/next.config.js
Labels: PR:chore

#875 Fixed #866
  src/InputGroup/styles/common.less
Labels: PR:bugfix

#876 Fixed #867
  src/styles/themes/dark/variables.less
Labels: PR:bugfix

#888 Fix incorrect value passing
  src/Pagination/PaginationButton.tsx
Labels: PR:bugfix

#887 Fix #886
  src/Picker/DropdownMenu.tsx
  src/utils/getDataGroupBy.ts
  src/utils/test/getDataGroupBySpec.js
Labels: PR:bugfix

#881 `readOnly` props is passed to `accepter` via `FormControl`
  .gitignore
  src/FormControl/FormControl.tsx
  src/FormControl/test/FormControlSpec.js
Labels: PR:improve

#880 Supplement syles for navbar docs.
  docs/pages/components/navbar/appearance.md
  docs/pages/components/navbar/basic.md
  docs/pages/components/navbar/en/appearance.md
  docs/pages/components/navbar/en/basic.md
Labels: PR:docs

#879 [docs] Added example for form check
  docs/pages/components/form/en/form-check-default.md
  docs/pages/components/form/en/form-check.md
  docs/pages/components/form/form-check-default.md
  docs/pages/components/form/form-check.md
  docs/pages/components/form/index.tsx
Labels: PR:docs

#878 [docs] Added Arabic
  docs/pages/guide/intl/en/index.md
  docs/pages/guide/intl/index.md
Labels: PR:docs

#896 [docs] Fixed incorrect links
  docs/components/PageContainer/PageContainer.tsx
  docs/components/PageContent.tsx
  docs/pages/index.tsx
Labels: PR:docs

#895 Fix character casing in the Sidebar definition
  docs/pages/components/container/en/index.md
Labels: PR:docs

#905 docs(guide/intl): fix wrong link linking to default.js which has been renamed to default.ts
  docs/pages/guide/intl/en/index.md
  docs/pages/guide/intl/index.md
Labels: PR:docs

#848 Show only one calendar
  src/DateRangePicker/Calendar/Calendar.tsx
  src/DateRangePicker/DatePicker.tsx
  src/DateRangePicker/DateRangePicker.d.ts
  src/DateRangePicker/DateRangePicker.tsx
  src/DateRangePicker/styles/common.less
  src/DateRangePicker/test/DateRangePickerSpec.js
Labels: PR:feature

#904 Fixed missing typescript type definition in table
  docs/pages/components/table/en/index.md
  docs/pages/components/table/index.md
  src/Table/Table.d.ts
  src/Table/TableColumn.d.ts
Labels: PR:bugfix

#911 [docs] Show only one calendar
  docs/pages/components/date-range-picker/en/index.md
  docs/pages/components/date-range-picker/en/show-only-calendar.md
  docs/pages/components/date-range-picker/index.md
  docs/pages/components/date-range-picker/index.tsx
  docs/pages/components/date-range-picker/show-only-calendar.md
Labels: PR:docs

#906 Fix page layout issue when toggle page nav show.
  docs/components/PageContainer/PageContainer.tsx
  docs/components/PageContainer/styles.less
  docs/less/index.less
Labels: PR:docs

#907 Added example for `Nav.Item` with `next/link`
  examples/with-nextjs/README.md
  examples/with-nextjs/package.json
  examples/with-nextjs/pages/index.js
  examples/with-nextjs/pages/page1.js
  examples/with-nextjs/pages/page2.js
  examples/with-nextjs/yarn.lock
Labels: PR:example

#908 Add declare to dict and messages.
  docs/components/AppContext.tsx
  docs/locales/index.ts
Labels: PR:docs

#909 Added example for `Nav.Item` with `react-router-dom/link`
  examples/with-react-router/.babelrc.js
  examples/with-react-router/.prettierrc
  examples/with-react-router/README.md
  examples/with-react-router/package.json
  examples/with-react-router/src/App.js
  examples/with-react-router/src/index.html
  examples/with-react-router/src/index.js
  examples/with-react-router/webpack.config.js
  examples/with-react-router/yarn.lock
Labels: PR:example

#921 Fixed wrong link
  docs/pages/tools/icons/en/index.md
Labels: PR:docs
