Repository rsuite/rsuite, pull requests merged in 2020-07, with the labels that each got.

#1152 fix(modal): fixed the issue of height reduction when reopening Modal
  src/Modal/Modal.tsx
Labels: PR:bugfix

#1155 feat(whisper): added support for `none` in `trigger` props on `Whisper`
  docs/pages/components/popover/en-US/index.md
  docs/pages/components/popover/en-US/trigger.md
  docs/pages/components/popover/zh-CN/index.md
  docs/pages/components/popover/zh-CN/trigger.md
  docs/pages/components/tooltip/en-US/index.md
  docs/pages/components/tooltip/en-US/trigger.md
  docs/pages/components/tooltip/zh-CN/index.md
  docs/pages/components/tooltip/zh-CN/trigger.md
  src/AutoComplete/AutoComplete.tsx
  src/Overlay/OverlayTrigger.d.ts
  src/Overlay/OverlayTrigger.tsx
  src/Picker/propTypes.ts
  src/Whisper/Whisper.d.ts
  src/Whisper/Whisper.tsx
  src/Whisper/test/WhisperSpec.js
Labels: PR:feature

#1198 Update package.json
  examples/with-reason-webpack/package.json
Labels: PR:example

#1197 Update App.re
  examples/with-reason-webpack/src/App.re
Labels: PR:example
