Repository rsuite/rsuite, pull requests merged in 2023-08, with the labels that each got.

#3319 fix(SelectPicker): fix display options not updating when data prop is updated
  src/CheckPicker/test/CheckPickerSpec.tsx
  src/InputPicker/test/InputPickerSpec.tsx
  src/Picker/utils.ts
  src/SelectPicker/test/SelectPickerSpec.tsx
Labels: priority: Critical

#3329 Fix InputPicker select bug
  src/InputPicker/InputPicker.tsx
Labels: component: InputPicker

#3325 fix(DatePicker,DateRangePicker): fix calendar styles per design
  src/Calendar/styles/index.less
  src/Calendar/test/CalendarStyleSpec.tsx
  src/DatePicker/styles/index.less
  src/DateRangePicker/test/DateRangePickerStylesSpec.tsx
Labels: topic: Style

#3324 fix(InputGroup): fix inside addon overlapping input text
  docs/pages/components/input/fragments/input-group-inside.md
  src/InputGroup/styles/index.less
Labels: topic: Style, component: InputGroup

#3323 fix(Picker): change color of caret on option group title
  src/Picker/styles/mixin.less
Labels: topic: Style

#3334 fix(InputPicker): cursor should be text
  src/Dropdown/styles/mixin.less
Labels: topic: Style, component: InputPicker

#3335 fix(Calendar): fix onMonthChange not fired when clicking on dates
  src/Calendar/Calendar.tsx
  src/Calendar/TableRow.tsx
  src/Calendar/test/CalendarSpec.tsx
  src/utils/test/useElementResizeSpec.ts
Labels: component: Calendar

#3341 docs(Calendar): add example for cellClassName usage
  docs/pages/components/calendar/en-US/index.md
  docs/pages/components/calendar/fragments/custom-cell.md
  docs/pages/components/calendar/zh-CN/index.md
Labels: topic: 📖 Documentation, component: Calendar
